node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# debug
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# misc
.DS_Store
.env

src/config/env.*.ts
coverage
coverage/lcov-report
yarn.lock
cypress/videos
e2e/cypress.json
cypress/screenshots/App.spec.js/RN Compose Test -- check all needed is present (failed).png
node_modules
examples/react-router-port/.expo/packager-info.json
examples/react-router-port/.expo/settings.json
examples/react-router-port/.expo/web/cache/development/babel-loader/0dc42e21d5a40d48de38142b780d324c.json
examples/react-router-port/.expo/web/cache/development/babel-loader/0eaea6f4ee25e8dd399598e606c43e37.json
examples/react-router-port/.expo/web/cache/development/babel-loader/1c3d2dc258dc355859ef9f4437fd9274.json
examples/react-router-port/.expo/web/cache/development/babel-loader/1d44ce90b254aead363e952c35ce80b3.json
examples/react-router-port/.expo/web/cache/development/babel-loader/1f5b8ed57665104cc975868402ce922e.json
examples/react-router-port/.expo/web/cache/development/babel-loader/2c95f1a09b0290d314d2127320791657.json
examples/react-router-port/.expo/web/cache/development/babel-loader/2ca749bb6286cf3fd4ad004b06732694.json
examples/react-router-port/.expo/web/cache/development/babel-loader/2f7ca81a5708906c4f9f9d1b44a16b36.json
examples/react-router-port/.expo/web/cache/development/babel-loader/2f8ecf1e308d27cc2a56c71a44bb90fa.json
examples/react-router-port/.expo/web/cache/development/babel-loader/3ac7a82c20103d3a78ba1c153506a746.json
examples/react-router-port/.expo/web/cache/development/babel-loader/3b9fa5e7c89b0617b3542082f324958b.json
examples/react-router-port/.expo/web/cache/development/babel-loader/4b6a9ca7b46fc3b5a1b8f27d59c5ccc2.json
examples/react-router-port/.expo/web/cache/development/babel-loader/4bd8c4ed62e7e1702e41a3a0fff89e9a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/4c7445b78d384b0d0417e4b976ce6dbb.json
examples/react-router-port/.expo/web/cache/development/babel-loader/04d8aee54483d782a5d7d1eba5e9bdc9.json
examples/react-router-port/.expo/web/cache/development/babel-loader/4d66c74ddc09b59e252d679525b201c4.json
examples/react-router-port/.expo/web/cache/development/babel-loader/5b3737a479d2c430902f96b0ab9bc5b9.json
examples/react-router-port/.expo/web/cache/development/babel-loader/5d9ef0496da017557be8643388c36ef6.json
examples/react-router-port/.expo/web/cache/development/babel-loader/5f72c79e4bcb89180b56dd65e77f936e.json
examples/react-router-port/.expo/web/cache/development/babel-loader/6a44f107c01668ae2422dbc13bc96043.json
examples/react-router-port/.expo/web/cache/development/babel-loader/6bed40d7b271e6a7467048b9f3c01286.json
examples/react-router-port/.expo/web/cache/development/babel-loader/6d57648fca46b71e15fba9794351f602.json
examples/react-router-port/.expo/web/cache/development/babel-loader/6e584d53bbe5962eb3bd418584dd5881.json
examples/react-router-port/.expo/web/cache/development/babel-loader/7a0508c34b2284d7f9a72edb51d373cf.json
examples/react-router-port/.expo/web/cache/development/babel-loader/7c88d82e5fddeb6bc23b2e95e17cc8dc.json
examples/react-router-port/.expo/web/cache/development/babel-loader/7ce16f09b2cf4c1ab328836830212feb.json
examples/react-router-port/.expo/web/cache/development/babel-loader/7d1a164f880835591b8357472dfced22.json
examples/react-router-port/.expo/web/cache/development/babel-loader/07dca2bebab71de75f9fb5074cd18fcb.json
examples/react-router-port/.expo/web/cache/development/babel-loader/7fc6c694de2e9cbde533c32867c9612f.json
examples/react-router-port/.expo/web/cache/development/babel-loader/8ce89a78affa6a5b512d256c0a996c25.json
examples/react-router-port/.expo/web/cache/development/babel-loader/8e3ab9d37c23c10f819652adbebef1ab.json
examples/react-router-port/.expo/web/cache/development/babel-loader/9ac04cc601e91821f56ea5293d55ee7e.json
examples/react-router-port/.expo/web/cache/development/babel-loader/9cb07f6c5c0e193db36f59facf501ede.json
examples/react-router-port/.expo/web/cache/development/babel-loader/9dfa53a36822a4c405bf88ae31b07947.json
examples/react-router-port/.expo/web/cache/development/babel-loader/15f5af7092aa20ab4e5e85e33e39e4a0.json
examples/react-router-port/.expo/web/cache/development/babel-loader/018dd970542d62bb3cc308acc667ad41.json
examples/react-router-port/.expo/web/cache/development/babel-loader/24b6edeb243342b4215c4bc5533fb03f.json
examples/react-router-port/.expo/web/cache/development/babel-loader/27b0045d444b77013334be2e3f63d067.json
examples/react-router-port/.expo/web/cache/development/babel-loader/027cd57d561fdf928171c8a316edf1da.json
examples/react-router-port/.expo/web/cache/development/babel-loader/31ddb0e75e2b1efa52308cae0dba5c59.json
examples/react-router-port/.expo/web/cache/development/babel-loader/38f3d8d162f1e9cec44cb32ce2945777.json
examples/react-router-port/.expo/web/cache/development/babel-loader/40e7bde3ac43a38f02df8876a5e40056.json
examples/react-router-port/.expo/web/cache/development/babel-loader/44df67c2d3feb4dd2a960aeb0d98ce2e.json
examples/react-router-port/.expo/web/cache/development/babel-loader/49ec988af147e4b9f041db46aec85219.json
examples/react-router-port/.expo/web/cache/development/babel-loader/60f8082bcf1ca481abe99005593fe9c2.json
examples/react-router-port/.expo/web/cache/development/babel-loader/64daf716d4e0285fd4071b6778efeba3.json
examples/react-router-port/.expo/web/cache/development/babel-loader/065ac82930eb4512775934738154fd59.json
examples/react-router-port/.expo/web/cache/development/babel-loader/71ee2440ec20d3765af005768d560658.json
examples/react-router-port/.expo/web/cache/development/babel-loader/71fc667c82909f2fa616836fd9d919e9.json
examples/react-router-port/.expo/web/cache/development/babel-loader/75efa693b8b29fee17746e64ea948884.json
examples/react-router-port/.expo/web/cache/development/babel-loader/91e8d8b678014a4ef62bee7486f138a8.json
examples/react-router-port/.expo/web/cache/development/babel-loader/91fdae4ae49561d83dcddbf4295528f5.json
examples/react-router-port/.expo/web/cache/development/babel-loader/97a1ffd8f94650eb0f8fc820b27dd6f3.json
examples/react-router-port/.expo/web/cache/development/babel-loader/99f6ee2c6cce3729413e9cea5c16908b.json
examples/react-router-port/.expo/web/cache/development/babel-loader/166a36d07670780b7a5d678b2d35cf0b.json
examples/react-router-port/.expo/web/cache/development/babel-loader/0294e68fb25436436ac79109ddfb1424.json
examples/react-router-port/.expo/web/cache/development/babel-loader/339f015af764c797125ea7d000a10bfa.json
examples/react-router-port/.expo/web/cache/development/babel-loader/588c69f423846ab5a45a4a02093dd056.json
examples/react-router-port/.expo/web/cache/development/babel-loader/649b685be415a9b9b3dba89a449a08f1.json
examples/react-router-port/.expo/web/cache/development/babel-loader/659a2d13694af0bb5f38f4556fcc25e1.json
examples/react-router-port/.expo/web/cache/development/babel-loader/798b95e064e1b805960336589bd19687.json
examples/react-router-port/.expo/web/cache/development/babel-loader/0909d3e960ded0a29716c7d00f860943.json
examples/react-router-port/.expo/web/cache/development/babel-loader/971e2be929cdbdf76cce7fd94f2d6afc.json
examples/react-router-port/.expo/web/cache/development/babel-loader/1300af9bf31eb7ccad8fab40c7c94457.json
examples/react-router-port/.expo/web/cache/development/babel-loader/1345d2ccc5b978d33c91173bc3d0cd06.json
examples/react-router-port/.expo/web/cache/development/babel-loader/02126f1f6e129167a2911ecf05a5f74d.json
examples/react-router-port/.expo/web/cache/development/babel-loader/2509f8ff30d57f2253fbd7333e476e50.json
examples/react-router-port/.expo/web/cache/development/babel-loader/3333ada73c7ce8ef43c34adfb27b3d70.json
examples/react-router-port/.expo/web/cache/development/babel-loader/4122f2c64f0af304ce6f5d7a0eb97c06.json
examples/react-router-port/.expo/web/cache/development/babel-loader/5243f93d9f0071257abb61f541f08584.json
examples/react-router-port/.expo/web/cache/development/babel-loader/8510f8dc55353b3c9e52f449e66bd4f1.json
examples/react-router-port/.expo/web/cache/development/babel-loader/20934c8b13837fbdfef95aabbd1dbbce.json
examples/react-router-port/.expo/web/cache/development/babel-loader/48703a25c83cb1091072f7b53f943e19.json
examples/react-router-port/.expo/web/cache/development/babel-loader/75709f0f9bdb7b7a00fdf7fe5c517e42.json
examples/react-router-port/.expo/web/cache/development/babel-loader/86666a042ca2ad9ba944a155b418464b.json
examples/react-router-port/.expo/web/cache/development/babel-loader/397960ba9ea696208ee9ae580e5bc4ca.json
examples/react-router-port/.expo/web/cache/development/babel-loader/488189d234312998120a02c23735ba39.json
examples/react-router-port/.expo/web/cache/development/babel-loader/700642c5b3da01b31c34257c48704f65.json
examples/react-router-port/.expo/web/cache/development/babel-loader/6738370b7b874aaa4e7841afc05adb25.json
examples/react-router-port/.expo/web/cache/development/babel-loader/58905391f5e9098385ead034f1cab9c5.json
examples/react-router-port/.expo/web/cache/development/babel-loader/74546569ffe8eecff9ab0df91f57bb82.json
examples/react-router-port/.expo/web/cache/development/babel-loader/030978331584bc35f9371e0c17c0c7ab.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a1a91e6231a0513b05c604662a47b73a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a1f07024a1d1b9c0501f9eb87dab799f.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a2a0b38fbfcae11ff03a5a67f28c090a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a4da53d007bb322d26f1220337f6dfa2.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a9a45add5904aec18ce7c7dcf982515a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a37f137964256c5aa0b34df2796e940e.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a107b66652e10520aed0458b8b8da617.json
examples/react-router-port/.expo/web/cache/development/babel-loader/a79522bd6433398a27067b9874f9d80d.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ad949ca1459f87ddc474400dedff8610.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ad61571b443569ac28b9cb98e67c52cf.json
examples/react-router-port/.expo/web/cache/development/babel-loader/af9bb111c2a9ce14e59a6428c56ab856.json
examples/react-router-port/.expo/web/cache/development/babel-loader/af9d59b7449e85159d983720e6dc2273.json
examples/react-router-port/.expo/web/cache/development/babel-loader/b1a33aa716686cdd27f5b6c6bbb5309e.json
examples/react-router-port/.expo/web/cache/development/babel-loader/b2ccce8eff9a4de9c7becc85ea1f646a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/b9d06147de76b9726c6e32571a96bc88.json
examples/react-router-port/.expo/web/cache/development/babel-loader/b023fc8fd38db0e7287c6e6dc226ad55.json
examples/react-router-port/.expo/web/cache/development/babel-loader/b47fc671926527a32f50937c8e20f6c7.json
examples/react-router-port/.expo/web/cache/development/babel-loader/b3629285faf114b8b4dabb2fb049a28b.json
examples/react-router-port/.expo/web/cache/development/babel-loader/b41581295f1a006905659af872148b14.json
examples/react-router-port/.expo/web/cache/development/babel-loader/c8fe84f891b6fb3326ecd43deb9951c1.json
examples/react-router-port/.expo/web/cache/development/babel-loader/c64fc685eea38fd6d7cd708d73d05aa0.json
examples/react-router-port/.expo/web/cache/development/babel-loader/c87a72a39213c5e8bbc8c3ac932dec7a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ca6b6c39f585b52900c3644abd401c77.json
examples/react-router-port/.expo/web/cache/development/babel-loader/cb85d49a53eeed8e145dd3cafee6224e.json
examples/react-router-port/.expo/web/cache/development/babel-loader/cc4586df7562830098fc89c257d91c39.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ccf61ac72cac7fe01bed6a0b2ce67f7d.json
examples/react-router-port/.expo/web/cache/development/babel-loader/cef90cc1c6e56a3d8a4567d8dca54b7a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/d490ddaa1328c336ec23cd09105c7e51.json
examples/react-router-port/.expo/web/cache/development/babel-loader/d5669a8484194f2eefcad5c5a7f552ff.json
examples/react-router-port/.expo/web/cache/development/babel-loader/db6a9eb358504b051fd44e665bef7693.json
examples/react-router-port/.expo/web/cache/development/babel-loader/dc638e54f2fa8f6a076086234177357f.json
examples/react-router-port/.expo/web/cache/development/babel-loader/dfb2318ab14e566e8af6207d90e5d2a7.json
examples/react-router-port/.expo/web/cache/development/babel-loader/e0c501d5664585d00ce9935c6c47512b.json
examples/react-router-port/.expo/web/cache/development/babel-loader/e7dfa7c653cb1abf7f33722a379ee8e4.json
examples/react-router-port/.expo/web/cache/development/babel-loader/e416b6a714ea413e9b4bfd57965f4d8c.json
examples/react-router-port/.expo/web/cache/development/babel-loader/e718c19b9ff93e6855a6b535886bc2a9.json
examples/react-router-port/.expo/web/cache/development/babel-loader/e33127191f4e37326895f2462b5cb769.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ead56450248287d952bc8800fd2c6b8c.json
examples/react-router-port/.expo/web/cache/development/babel-loader/eb0d800848a69989136b8fbf67e9ff80.json
examples/react-router-port/.expo/web/cache/development/babel-loader/eb17bb493b02a94b0c466cbdaf810fd8.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ec3a1f923c797c94c5ac0b35dd50392a.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ece23cce86edb79cc92cc40841359ff9.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ee1c150bc9437e053e41d72984746033.json
examples/react-router-port/.expo/web/cache/development/babel-loader/f34dfe73f933e41fa5ca41d9a7b19e4f.json
examples/react-router-port/.expo/web/cache/development/babel-loader/f38a71260e85ad2a34d81c49f25de278.json
examples/react-router-port/.expo/web/cache/development/babel-loader/fcea9ae997394e71f9a6701cae26d665.json
examples/react-router-port/.expo/web/cache/development/babel-loader/fdef94894b05744bcf44690d639e6574.json
examples/react-router-port/.expo/web/cache/development/babel-loader/ffb624064150d9b883fceff6f40cc232.json
